.big-image {
    background: rgb(255, 236, 139);
    background: radial-gradient(#fde994 50%, #d9b650 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-y: auto;
}

.container {
    width: 600px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    box-shadow: 2px 5px;
    overflow: auto;
}

.leftbox {
    float: left;
    top: 5%;
    left: 5%;
    position: absolute;
    width: 15%;
    height: 300%;
    background: #4A412A;
    box-shadow: 2px 5px;

}

.rightbox {
    width: 60%;
    margin-left: 27%;
}

.tabShow {
    transition: all .5s ease-in;
    width: 80%;
}

.rightbox h3 {
    color: #4A412A;
    font-size: 1.2rem;
    margin-top: 40px;
    margin-bottom: 35px;
    text-decoration: underline black;
}

.rightbox button {
    margin-left: 40%;
}

nav a {
    list-style: none;
    padding: 35px;
    color: white;
    font-size: 1.1em;
    display: block;
    transition: all .3s ease-in-out;
}

nav a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.preload {
    width: 100%;
    height: 100%;
    background: rgb(255, 236, 139);
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}

.bee1, .bee2, .bee3, .bee4 {
    position: absolute;
    bottom: 0;
}

.bee1 {
    left: 5%;
    animation: bee1 3s ease infinite;
}

.bee2 {
    left: 30%;
    animation: bee1 3s ease infinite 0.5s;
}

.bee3 {
    right: 30%;
    animation: bee1 3s ease infinite 1s;
}

.bee4 {
    right: 5%;
    animation: bee1 3s ease infinite 1.5s;
}

@keyframes bee1 {
    from {
        bottom: 0%;

    }
    to {
        bottom: 130%;

    }
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.Login {
    margin: 0 0 30px;
    padding: 0;
    color: black;
    text-align: center;
}

.center {
    text-align: center;
    margin: auto;
    display: grid;
}

.Login_box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);;
}

.Register_box {
    position: absolute;
    overflow: scroll;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);;
}


.wrapper {
    text-align: center;
}

.topbar {
    background-color: #4A412A;
    overflow: hidden;
    /* justify-content: center; */
    align-items: center;
    display: flex;
}

/* Style the links inside the navigation bar */
.topbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Bell MT";
}

/* Change the color of links on hover */
.topbar a:hover {
    background-color: #ddd;
    color: black;
    transition-duration: 0.3s;
}

/* Add a color to the active/current link */
.topbar a.active {
    background-color: #04AA6D;
    color: white;
}

.textinput {

}

.input_wrapper {
    text-align: center;
    alignment: center;
    position: absolute;
    border-radius: 8px;
    border: 1px solid;
    background: radial-gradient(#fde994 50%, #d9b650 100%);
    box-shadow: 5px 10px;
    margin: -25px 0 0 -25px;
    width: 50%;
    top: 30%;
    left: 30%;
}

.Logo {
    position: relative;
}

.Logo img {
    position: absolute;
    top: 0px;
    left: 5px;
}

.input {
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

button {
    border-radius: 12px;
    padding: 10px 20px;
    color: black;
    background: #fde994;
    border-left-color: black;
    alignment: center;
    cursor: pointer;
    font-family: SansSerif;
}

.sp {
    padding: 10px 20px;
    font-size: 15px;
    font-family: SansSerif;
    text-align: center;
    border: 1px;
    cursor: pointer;
    outline: none;
    color: #000000;
    background-color: #fde994;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.sp:hover {
    background-color: #e1cf81
}

.sp:active {
    background-color: #e1cf81;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:hover {
    color: black;
    font-weight: bold;
    border-color: black;
}

body {
    margin: 0;
}

.Titel {
    color: #000000;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Helvetica, Arial, Geneva, sans-serif;
    font-style: italic;
    padding-top: 5px;
    padding-left: 15px;
    margin-top: 25px;
}

.Register {
    font-weight: bold;
}

.profil {
    position: absolute;
    top: 0pt;
    right: 12pt;
}

img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 25px;
}

img:hover {
    color: black;
    font-weight: bold;
    border-color: black;
}

.grey {
    color: white;
    border-radius: 50%;
    padding: 10px 20px;
    background-color: grey;
    border-color: white;
}

.grey:hover {
    cursor: url("../statics/img/See_The_Bee_Logo.png");
    background-color: grey;
    color: white;
    font-weight: bold;
    border-color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

body {
    margin: 0;
}

label.col-form-label {
    font-size: 20px;

}

.btn {
    color: black;
    background: rgb(255, 236, 139);
    background: radial-gradient(#fde994 50%, #d9b650 100%);
}

.btn:hover {
    background-color: yellow;
    color: black;
    font-weight: bold;
    border-color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.navbar {
    display: inline;
}

